
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #7e7e7e;
}
/*Add to Cart and Wishlist buttons*/
.btn {
    padding: 12px 16px;
    margin: 4px 2px;
    transition: 0.3s;
}

.btn:hover {
    color: rgb(128, 42, 42);
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-title {
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
}

.card-text {
    text-align: center;
}

.Card-view-p {
    color: rgb(36, 34, 34);
    text-align: center;
}

#checkoutHeader {
    text-align: center;
}

#cart-header {
    text-align: center;
}

#footer {
    background: #292b2c;
}

#newsletterHeader {
    text-align: center;
}


#couponHeader {
    text-align: center;
}

.form-inline {
    padding-top: 50px;
}

.input-group {
    padding-top: 50px;
}

#subscribe-confirm {
    text-align: center;
}

#totalMinDiscount {
    text-align: center;
}

/*Deleivery Form*/
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Delivery submit button */
input[type=submit] {
    width: 100%;
    background-color: #292b2c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
    background-color: #2a5970;
}

.quickAddButtons {
    width: 100%;
    background-color: #292b2c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quickAddButtons:hover {
    background-color: #2a5970;
}
/*product.html*/

.showButton{  width: 100%;
    background-color: #292b2c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.showButton:hover{
    background-color: #2a5970;
}
/*Additional product text*/
#p1-additionalText,
#p2-additionalText,
#p3-additionalText,
#p4-additionalText,
#p5-additionalText{
display: none;
}


#redeemCoupon {
    width: 100%;
    background-color: #292b2c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#redeemCoupon:hover {
    background-color: #056415;
}

.removeAllFromCart {
    width: 100%;
    background-color: #292b2c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.removeAllFromCart:hover {
    background-color: #640505;
}

#hide-view-button {
    width: 100%;
    background-color: #292b2c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#hide-view-button:hover {
    background-color: #2a5970;
    ;
}

.viewProductContainer {
    text-align: center;
}

.viewPorductButton {
    display: inline-block;
    background-color: #273136;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Carousel*/
.carousel-inner {
    width: 100%;
    max-height: 900px !important;
}

carousel-caption
/*AboutUs.html*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
article#main-col {
    margin-top: 150px;
    float: left;
    width: 65%;
}
.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 250px;
}